<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Presenze</title>
</head>
<body>
    <h1>Inserisci Presenza</h1>
    <form method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        
        <div>
            <label for="data_entrata">Data di Entrata:</label>
            <input type="date" id="data_entrata" name="data_entrata">
            <button type="submit" name="submit_entrata">Inserisci Entrata</button>
        </div>
        
        <div>
            <label for="data_uscita">Data di Uscita:</label>
            <input type="date" id="data_uscita" name="data_uscita">
            <button type="submit" name="submit_uscita">Inserisci Uscita</button>
        </div>

        <button type="submit" name="reset">Reset</button>
           </form>
    
    <h2>Presenze</h2>
    <ul>
        {% for presenza in presenze %}
            <li>{{ presenza.nome }} - {{ presenza.data_entrata }} - {{ presenza.data_uscita }}</li>
        {% endfor %}
    </ul>
</body>
</html>

