<!DOCTYPE html>
<html lang="it">
<head>
   <meta charset="UTF-8">
    <title>Inserimento Nomi</title>
</head>
<body>
    <h1>Ordinamento Nomi</h1>
    
    <form method="post">
        <input type="text" name="nome" placeholder="Inserisci un nome">
        <button type="submit">Aggiungi</button>
    </form>
    <form method="post">
		<p></p>
        <button type="submit" name="ordina">Ordina</button>
        <button type="submit" name="reset">Cancella</button>
    </form>
    
    <h2>Nomi inseriti</h2>
   <ul>
   {% for nome in nomi %}
   <li>{{ nome }}</li>
   {% endfor %}
   </ul>
    <h2>Nomi in ordine alfabetico</h2>
    <ul>
   {% for nome in nomi_ord %}
   <li>{{ nome }}</li>
   {% endfor %}
   </ul>
</body>
</html>